table#migrate_padloper_pwcommerce {
    width: 100%;
}


table#migrate_padloper_pwcommerce,
th,
table#migrate_padloper_pwcommerce td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#migrate_padloper_pwcommerce td {
    padding: 0.25rem 0.75rem;
}

table#migrate_padloper_pwcommerce td:nth-child(1) {
    color: red
}

table#migrate_padloper_pwcommerce td:nth-child(2) {
    color: green
}

ul#migrate_padloper_pwcommerce_notices {
    list-style-type: none;
}

ul#migrate_padloper_pwcommerce_notices li span {
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
}

ul#migrate_padloper_pwcommerce_notices li span.migrate_padloper_pwcommerce_notice_error {
    color: red;
}

ul#migrate_padloper_pwcommerce_notices li ol li span{
    font-size: initial;
    font-weight: normal;
}